.body{
  font-family: 'Roboto', sans-serif;
  background: #455A64
}

.title{
  text-align: center;
  color: #818F95;
  text-transform: uppercase;
  font-size: 52px;
}

.input,
.result-container {
width: 100%;
font-size: 48px;
padding: 2px;
text-align: center;
background: #818F95;
color: #455A64;
}

.result-container {
  width: 50%;
  margin: 50px auto 0;
}


.result-container .title{
  font-size: 18px;
  color: #000;
  text-align: center;
}
